*{
    font-family: 'inter';
    margin: 0px;
}

#sectionHero{
    background-color: #303030;
    color: #FFFFFF;
    height: 475px;
}

#heroTitle{
    padding: 206px 0px 0px 62px;
    font-weight: 600;
    font-size: 60px;
}

#heroText{
    padding: 10px 0px 0px 62px;
    font-weight: 500;
    font-size: 20px;   
}

#sectionBennefits{
    background-color: #F9F9F9;
    color: #000000;
    height: 229px;
    display: grid;
    grid-auto-flow: column;
    columns: 3;
    padding: 96px 0px 0px 171px;
}

#sectionHistory{
    background-color: #FFFFFF;
    color: #000000;
    height: 779px;
    display: grid;
    grid-auto-flow: column;
    columns: 2;
}

#historyTitle{
    padding: 280px 0px 0px 62px;
    font-weight: 450;
    font-size: 40px;
}

#historyText{
    padding: 40px 0px 0px 62px;
    font-weight: 200;
    font-size: 24px;
}

#histotyImg{
    margin: 87px 0px 0px 0px;
    height: 605px;
}

#sectionForm{
    background-color: #303030;
    color: #FFFFFF;
    height: 638px;
    text-align: center;
}

#formTitle{
    padding: 87px 0px 0px 0px;
    font-weight: 600;
    font-size: 32px;
}

#form{
    margin-top: -36px;
}

input{
    margin-top: 62px;
    width: 460px;
    height: 72px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #000000;
    padding-left: 26px;
    border: 0px;
    font-weight: 600;
    font-size: 24px;
}

input::placeholder{
    color:#0000004D;
}

button{
    margin-top: 78px;
    background-color: #C07212;
    color: #FFFFFF;
    width: 280px;
    height: 74px;
    border-radius: 10px;
    border: 0px;
    padding: 18px 0px 18px 0px;
    border: 0px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

button:hover{
    background-color: #C07212;
    transform: translateY(-4px);
    box-shadow: 6px 10px 10px 4px  #7e4500cb;
    transition-duration: 250ms;
}

 